{:system/config {:db {:adapter "postgresql"
                      :server-name #or [#env POSTGRES_HOST "localhost"]
                      :database-name #or [#env POSTGRES_DB "sleep_db"]
                      :username #or [#env POSTGRES_USER "postgres"]
                      :password #or [#env POSTGRES_PASSWORD "postgres"]}
                 :http-port #or [#env PORT 8080]
                 :jwt-secret #or [#env JWT_SECRET "super-secret-jwt-string"]}
 :postgres/db {:config #ig/ref :system/config}
 :reitit/routes {:config #ig/ref :system/config
                 :db #ig/ref :postgres/db}
 :http/server {:config #ig/ref :system/config
               :router #ig/ref :reitit/routes}}
